<div class="row justify-content-center" style="margin-top: 100px">
  <h1>Hi! I'm Nina!</h1>
</div>
<div class="row justify-content-center mt30">
  <p>
    I am an queer human who feels a lot of feelings about their feelings. I paint, draw, and write stories.
    I'm currently writing a book called <%= link_to "The ABC's of Feeling", feelings_path %> to help kids accept and process their feelings.
    I love my plants, being in the sun, and my two nieces, Elsie and Sadie (among many other things and people).
  </p>
</div>